@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    max-width: 100%;
    width: 420px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
}

.mainImg img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.8rem;
}

.content {
    text-align: center;
    padding: 0 1rem;
}

.content h1 {
    font-size: 30px;
    margin: 1rem 0;
    color: hsl(218, 44%, 22%);
}
.content p {
    color: hsl(220, 15%, 55%);
    padding: 0 1.2rem;
    font-size: 20px;
    line-height: 1.5;
}


@media (width <= 450px) {
    .container {
        width: 350px;
        height: 59vh;
    }

    .content h1 {
        font-size: 25px;
    }
    .content p {
        font-size: 17px;
    }
}